# LaTeX intermediate files
*.aux
*.log
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.lof
*.lot
*.out
*.mtc*
*.maf
main.listing

# Compiled PDF (uncomment if you don't want PDFs in git)
# *.pdf
